#about.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
        h3#myModalLabel About
      .modal-body
        h5 This is a simulator for ideamart apps, mainly to simulate multi user enviorment
        p To start click on config and set the URL where the sms should be sent to
        p Then Create phone number then send the relavent message from the 
        p Sever URL is http://localhost:8080/sms (send all the sms from the application to this URL)
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
