div
  .navbar
    .navbar-inner
        a.brand(href='#') IdeaMart Group Simmulator
        ul.nav
          li
            a(href='#config', role='button', data-toggle='modal') Configure
          li
           a(href='#about', role='button', data-toggle='modal') About This