!!!
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script( src='/js/jquery.min.js')
    script( src='/js/bootstrap-alert.js')
    script( src='/js/bootstrap-tab.js')
    script( src='/js/bootstrap-transition.js')
    script( src='/js/bootstrap-modal.js')
    script( src='/js/bootstrap-collapse.js')
    script( src='/js/bootstrap-button.js')
    script( src='/js/toastr.min.js')
    link(rel='stylesheet', href='/toastr.min.css')
    script(src="/socket.io/socket.io.js")
  body!= body
  script( src='/js/sim.js')
  br
  br
  div.navbar1
       h4(style='text-align:center;') Dev By : Pasindu 
        a(href='http://github.com/pasindud') Contribute On GitHub
  br
  br